body{
    width: 100%;
    background: radial-gradient(#18a9a2, #0925fdbf);
}    
.menu{
   display: flex ;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 65px;
   border-radius: 0px;
   color:rgb(255, 255, 255);
   position: relative;
   top: 5px;
}
.nome{
    font-family:monospace;
    
}
nav{
    display: flex;
}

nav a{
    display: flex;
color:rgb(248, 250, 247);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;    
}

nav a:hover{
   border: 2px double #fefdff;
   border-radius: 7px;
   background-color: rgba(127, 255, 212, 0.397);
}
svg{
    width: 100%;
    display: flex;
justify-content: center;
}
.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imagem-portfolio img{
    width: 570px;
    margin: -33px;
    box-sizing: content-box;
    justify-self: center;
}
.sobre-mim{ 
    margin: 100px -11%;
    color: rgb(255, 255, 255);
    border: 14px groove #63d9d7;
    background: linear-gradient(to top, rgb(5, 5, 66), rgb(11, 12, 114), rgb(0, 132, 255));
    font-family: serif;
    font-size: 40px;
    animation: float 3s ease-in-out infinite;
    border-radius: 30px;
    width: 41%;
    margin-left: -100px;
    height: max-content;
    z-index: 99999;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }


}
.svg{
    display: flex;
    justify-content: space-evenly;
}

.h3, a{
    display: flex;
    flex-wrap:nowrap;
    text-align: center;
    justify-content: space-evenly;
}
.itens-link { 
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
p{
    font-family: system-ui;
    color: white;
}
.link-eu{
    width: 22%;
    height: 22%;
    border: 12px groove #63d9d7;
    border-radius: 30px;
    color: ghostwhite;
    background: linear-gradient(to top, rgb(5, 5, 66), rgb(11, 12, 114), rgb(0, 132, 255));
    color: rgb(249, 255, 249);
    font-family: serif;
}
.link-projeto{
    width: 50%;
    border: 12px groove #63d9d7;
    border-radius: 30px;
    color: aliceblue;
    background: linear-gradient(to top, rgb(5, 5, 66), rgb(11, 12, 114), rgb(0, 132, 255));
    color: rgb(232, 255, 231);
    font-family: serif;
}
.link-experiencia{
    width: 234px;
    border: 12px groove #63d9d7;
    border-radius: 30px;
    color: aliceblue;
    background: linear-gradient(to top, rgb(5, 5, 66), rgb(11, 12, 114), rgb(0, 132, 255));
    color: rgb(241, 255, 240);
    font-family: serif;
}

.WhatsApp {
    position: fixed;
    bottom: 50px;
    right: 26px;
    z-index: 9999;
}

footer{
      display: flex;
      flex-direction: row;
      text-align: center;
      margin: 5px;
      border: 5px solid;
      border-radius: 15px;
      background: #005d60;
      color: white;
      justify-content: center;
      gap: 10px;
}

@media screen and (max-width: 480px) {
    body{
        padding: 10px !important;
        box-sizing: border-box;
        background: radial-gradient(#18a9a2, #0925fdbf); 
    }    
    
    .portfolio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .imagem-portfolio img{
       display: none;
    }
    .sobre-mim{ 
        width: 100%;
        margin-left: -10px;
        z-index: 99999;
    }
    
    @keyframes float {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-20px); }
    
    
    }
    .svg{
        display: flex;
        justify-content: space-evenly;
    }
    
    .h3, a{
        display: flex;
        flex-wrap:nowrap;
        text-align: center;
        justify-content: space-evenly;
    }
    .itens-link { 
        padding-top: 0px;
        gap: 5px;
        width: 100%;
    }
    p{
        text-align: center;
        font-family: system-ui;
    }
    .link-eu{
        width: 100%;
    
    }
    .link-projeto{
        width: 100%;
        font-size: small;
       
    }
    .link-experiencia{
        width: 100%;
     
    }
    .WhatsApp img {
        margin: 15px;
        width: 50px !important;
    }
    footer{
        width: 100%;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }   
        
}